.app {
    display: flex;
    flex-direction: column;
    width: 50%;
    max-width: 500px;
    padding: 0.5rem;
    border: 1px solid lightgray;
    border-radius: 0.25rem;
    box-shadow: 1px 1px 5px lightgray;
}

.header {
    font-size: 1.2rem;
}

textarea {
    min-height: 150px;
    margin: 0.5rem 0;
    padding: 0.5rem;
    resize: vertical;
}

button {
    width: 25%;
    align-self: flex-end;
    padding: 0.25rem;
}
